<div id="random_quote">

</div>
<div id="tasks">
  <h1>Дела</h1>

  <a href="#" class='new'>Добавить</a>

  <ul id="tasks-list" class="tasks"></ul>
</div>

<script type="text/javascript">
  (function() {
    var randomQuote = <%= Quote.find_random.to_json.html_safe -%>;
    var view = new Lt.Views.Quotes.RandomQuoteView({
      model: new Lt.Models.RandomQuote(randomQuote),
      el: $('#random_quote')[0]
    });
    view.render();

    var tasks = <%= @tasks.to_json.html_safe -%>;
    var view = new Lt.Views.Tasks.IndexView({
      collection: new Lt.Collections.TasksCollection(tasks),
      el: $('#tasks')[0]
    });
    view.render();
  })();
</script>

