<div id="tasks"></div>

<script type="text/javascript">
  $(function() {
    var tasks = <%= @tasks.to_json.html_safe -%>;
    var view = new Lt.Views.Tasks.IndexView({
      collection: new Lt.Collections.TasksCollection(tasks), 
      el: $('#tasks')[0]
    });
    view.render();
  });
</script>

