<div id="random_quote"></div>

<h1>Задачи</h1>

<div id="timeline"></div>
<div id="tasks"></div>

<script type="text/javascript">
  Lt.initRandomQuote('#random_quote', <%= @quote.to_json.html_safe -%>);
  Lt.initTimeline('#timeline');
  Lt.initTaskView(
      '#tasks',
      <%=raw render template: 'tasks/list', :formats => [:json] -%>,
      <%=raw ui_state_of(:task_view).state.to_json -%>);
</script>

