// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import compass/utilities/general/clearfix
@import compass/css3/box-sizing

ul.tasks
  li > ul
    padding-left: 1.5em
    margin-bottom: 0.5em

  .sort-placeholder
    outline: 1px dashed gray
  li
    margin: 0.15em 0
  .task
    padding: 0.15em
    cursor: default
    +clearfix

    border: 1px solid white
    &.selected, &.updated
      border: 1px dashed #999

    .additional-controls
      margin-top: 0.15em

  .task [field=objective] .empty
    font-style: italic

  [task-type=project] > .task [field=objective]
    font-weight: bold
    color: #484848

  [task-computed-state=completed], [task-computed-state=canceled]
    & > .task [field=objective]
      text-decoration: line-through

  [task-computed-state=completed]
    & > .task [field=objective]
      color: #307128

  [task-computed-state=canceled]
    & > .task [field=objective]
      color: #999

  [task-computed-state=considered]
    & > .task [field=objective]
      color: #999

  [form]
    input[name=objective]
      +box-sizing(border-box)
      width: 100%
    input[name=deadline]
      width: 10ex
