// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul#tasks-list
  li > ul
    padding-left: 1.5em
    margin-bottom: 0.5em

  .sort-placeholder
    outline: 1px dashed gray
  li
    margin: 0.3em 0
  .task
    cursor: default

  .task.done
    text-decoration: line-through
    color: #666

  .task-form
    margin: 0.8em 0

    input[name=body]
      width: 100%
    input[name=deadline]
      width: 10ex
